@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@layer base {
  :root {
    --color-white: #ffffff;
    --color-text: #a3a3a3;

    --background: 0 0% 100%;
    --foreground: 210 11.1% 3.53%;
  }

  .dark {
    --background: 210 11.1% 3.53%;
    --foreground: 0 0% 98%;
  }
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.bg-pattern {
  background-color: hsl(var(--background));
  background-image:
    radial-gradient(
      circle at 50% 50%,
      hsl(var(--foreground) / 0.05) 1px,
      transparent 0
    ),
    linear-gradient(hsl(var(--foreground) / 0.03) 1px, transparent 0),
    linear-gradient(90deg, hsl(var(--foreground) / 0.03) 1px, transparent 0);
  background-size:
    40px 40px,
    20px 20px,
    20px 20px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
